
{% extends 'layout.html' %}



{% block title %} Login {% endblock %}


{% block main %} 
<div class="container">
    <h2 class="title-sell">Login</h2>
    <div class="row justify-content-center" >
        <div class="col-md-4 col-md-offset-4">

            {% if  error_message%}
            <div class="alert alert-danger">
                {{error_message}}
            </div>
            {% endif %}

            {% if not user.is_authenticated %}



        <form action="/users/login/" method="post" class="">
            {% csrf_token %}
            <div class="form-group">
                <label style="color: #33383b">Email:</label>
                <input type="text" class="form-control" name="email" placeholder="Email">
                {% comment %} @error('email')<span class="text-danger">{{ $message }} </span>@enderror {% endcomment %}
            </div>
            <div class="form-group">
                <label style="color: #33383b">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
                {% comment %} @error('password')<span class="text-danger">{{ $message }}</span> @enderror {% endcomment %}
            </div>
            <button type="submit" class="btn btn-block btn-cart">Login</button>
            <p class="text-center" style="color: #33383b">Not Registered?
                <a href="{% url 'users:register' %}" class="text-center text-green">Sign Up</a>
            </p>
        </form>
        {% else %}
            logout
        {% endif %}

    </div>
    </div>
    <br>
</div>
{% endblock %}