
{% extends 'layout.html' %}



{% block title %} Login {% endblock %}


{% block main %} 
<div class="container">
    <form action="register/signup" method="POST">
        {% csrf_token %}
    <h2 class="title-sell">SignUp</h2>
    
    <div class="row justify-content-center" >
        <div class="form-group col-md-6">
        
        </div>
    </div>
            

    <div class="row justify-content-center  " >
        <div class="form-group col-md-3">
                <label style="color: #33383b">firstname:</label>
                <input type="text" class="form-control" name="firstname" placeholder="firstname">
        </div>

        <div class="form-group col-md-3">
            <label style="color: #33383b">lastname:</label>
            <input type="text" class="form-control" name="lastname" placeholder="lastname">
        </div>
       
    </div>
    <div class="row justify-content-center  " >
        <div class="form-group col-md-3">
            <label style="color: #33383b">Email:</label>
            <input type="text" class="form-control" name="email" placeholder="Email" >
        </div>
        <div class="form-group col-md-3">
            <label style="color: #33383b">password:</label>
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>
    </div>

    <div class="row justify-content-center  " >
        <div class="form-group col-md-3">
            <label style="color: #33383b">Phone:</label>
            <input type="tel" class="form-control" name="phone" placeholder="phone">
    </div>
        <div class="form-group col-md-3">
            <label style="color: #33383b">City:</label>
            <input type="text" class="form-control" name="city" placeholder="city">
        </div>
        
    </div>

    <div class="row justify-content-center  " >
        <div class="form-group col-md-3">
            <label style="color: #33383b">Street:</label>
            <input type="text" class="form-control" name="street" placeholder="street">
        </div>
        <div class="form-group col-md-3">
            <label style="color: #33383b">building:</label>
            <input type="text" class="form-control" name="building" placeholder="building"
           >
            
        </div>
    </div>
    <div class="row justify-content-center">
            <div class="col-lg-3">
                <button type="submit" class="btn btn-block btn-cart">Sign Up</button>
                <p class="text-center" style="color: #33383b">Already has account?
                    <a href="{% url 'users:login' %}" class="text-center text-green">Login</a>
                </p>
            </div>
    </div>
        
        </form>
    </div>
    </div>
    <br>
</div>
{% endblock %}