{% extends 'layout.html' %}



{% block title %} Contact Us {% endblock %}




{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link " href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link active" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}



{% block main %} contact us {% endblock %}