{% extends 'layout.html' %}



{% block title %} Products {% endblock %}




{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link active" href="/products/?page=10">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}

{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link active" href="/products/?page=10">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block main %} 

 <div class="prod-container"> 


{% comment %} <div class="row">
    <div class="col-md-12 col-12">
       <div class="special-menu text-center">
          <div class="button-group filter-button-group">
             <button class="active btn-cat" data-filter="*" style="width:15vh">All</button>
             {% for cat in categories %}
                    <button data-filter=".{{cat.name}}" class="btn-cat my-1" style="width:15vh">{{ cat.name}}</button>
             {% endfor %}
          
</div></div></div></div> {% endcomment %}
<div class=" mt-4  text-center">
  {% if not request.GET.category %}
    <a class="badge  pointer-cursor badge-green  active-cat-link" href="/products/">All</a>
  {% else %}
    <a class="badge  pointer-cursor badge-green " href="/products/">All</a>
  {% endif %}
  
  {% for cat in categories %}
  {% if request.GET.category == cat.name %}
      <a class="badge  pointer-cursor badge-green  active-cat-link" href="/products/?category={{cat.name}}">{{cat.name}}</a>
    {% else %}
      <a class="badge  pointer-cursor badge-green " href="/products/?category={{cat.name}}">{{cat.name}}</a>
    {% endif %}

    
  {% endfor %}


</div>

{% comment %} <div class="row ">
  <div class="col-md-2  d-none d-md-block">

      <div class="h3" style=" color: var(--green3);">
        Categories 
      </div>

    {% for cat in categories %}
    <div class="h4">
      {% if request.GET.category == cat.name %}
        <a href="/products/?category={{cat.name}}" style="text-decoration: none;" class="cat-links active-cat-link">{{cat.name}}</a>
      {% else %}
        <a href="/products/?category={{cat.name}}" style="text-decoration: none;" class="cat-links">{{cat.name}}</a>
      {% endif %}
    </div>
    {% endfor %}

    <div class="h4 ">
      <a href="/products/" style="text-decoration: none; color: var(--green3);">Clear <i class="fas fa-times fa-xs"></i>
      </a>
    </div>

  </div>  {% endcomment %}



    <div class="row  mt-4" >

      {% for product in products %}
      <div class="col-lg-2 col-md-4 col-12  effect11"  >
        <figure class="snip1396 green hover prod-img" >
        {% if product.image  %}
            <img src="{{ product.image.url }}"  style="width:100%">
        {% else %}
            <img src="assets/empty.png" style="width:100%">
        {% endif %}     
          <figcaption  class="bg-muted">
            <a href="/product/{{product.id}}" style="text-decoration:none;z-index: 3;"> 
            <h5 class="{{product.color}}">
              {{ product.name }}
            </h5></a>
          </figcaption>
          <div class="price {{product.color}}" >
            {{ currency }}{{ product.price }} 
          </div>
          {% csrf_token %}
          {% if product.stock > 0 %}
            <button  class="add-to-cart btn btn-sm btn-login" id="btn_{{product.id}}"  data-product-id="{{ product.id }}" >
              Add to Cart
            </button>
          {% else %}
              <button  class="add-to-cart btn btn-sm  btn-disabled" id="btn_{{product.id}}"   data-product-id="{{ product.id }}" disabled >
                out of stock
              </button>
          {% endif %}
        </figure>
      </div>
      {% endfor %}
    </div>
  


<div class=" text-center green h5">
  <span class="step-links h5">
      {% if paginated_items.has_previous %}
          {% comment %} <a href="?page=1" style="text-decoration: none;"  class="text-black">&laquo; first</a> {% endcomment %}

          {% if request.GET.category  %}
            <a href="?page={{ paginated_items.previous_page_number }}&category={{ request.GET.category}}"  class="text-green" style="text-decoration: none;"> &laquo; previous</a>
            {% else %}
            <a href="?page={{ paginated_items.previous_page_number }}"  class="text-green" style="text-decoration: none;"> &laquo; previous</a>

          {% endif %}
      {% endif %}

      <span class="current text-black h5">
          Page {{ paginated_items.number }} of {{ paginated_items.paginator.num_pages }}
      </span>





      {% if paginated_items.has_next %}

          {% if request.GET.category  %}

          <a href="?page={{ paginated_items.next_page_number }}&category={{ request.GET.category}}"  style="text-decoration: none;" class="text-green">next  &raquo;</a>
          {% else %}
          
          <a href="?page={{ paginated_items.next_page_number }}"  style="text-decoration: none;" class="text-green">next  &raquo;</a>

        {% endif %}


          {% comment %} <a href="?page={{ paginated_items.paginator.num_pages }}" style="text-decoration: none;"  class="text-black">last &raquo;</a> {% endcomment %}
      {% endif %}
  </span>
</div>



 </div> 


{% endblock %}
