{% extends 'layout.html' %}



{% block title %} Products {% endblock %}




{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link active" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}

{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link active" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block main %} 

 <div class="prod-container"> 


{% comment %} <div class="row">
    <div class="col-md-12 col-12">
       <div class="special-menu text-center">
          <div class="button-group filter-button-group">
             <button class="active btn-cat" data-filter="*" style="width:15vh">All</button>
             {% for cat in categories %}
                    <button data-filter=".{{cat.name}}" class="btn-cat my-1" style="width:15vh">{{ cat.name}}</button>
             {% endfor %}
          
</div></div></div></div> {% endcomment %}
<div class=" mt-4  text-center">
  {% if not request.GET.category %}
    <a class="badge  pointer-cursor badge-green  active-cat-link" href="/products/">All</a>
  {% else %}
    <a class="badge  pointer-cursor badge-green " href="/products/">All</a>
  {% endif %}
  
  {% for cat in categories %}
  {% if request.GET.category == cat.name %}
      <a class="badge  pointer-cursor badge-green  active-cat-link" href="/products/?category={{cat.name}}">{{cat.name}}</a>
    {% else %}
      <a class="badge  pointer-cursor badge-green " href="/products/?category={{cat.name}}">{{cat.name}}</a>
    {% endif %}

    
  {% endfor %}


</div>

{% comment %} <div class="row ">
  <div class="col-md-2  d-none d-md-block">

      <div class="h3" style=" color: var(--green3);">
        Categories 
      </div>

    {% for cat in categories %}
    <div class="h4">
      {% if request.GET.category == cat.name %}
        <a href="/products/?category={{cat.name}}" style="text-decoration: none;" class="cat-links active-cat-link">{{cat.name}}</a>
      {% else %}
        <a href="/products/?category={{cat.name}}" style="text-decoration: none;" class="cat-links">{{cat.name}}</a>
      {% endif %}
    </div>
    {% endfor %}

    <div class="h4 ">
      <a href="/products/" style="text-decoration: none; color: var(--green3);">Clear <i class="fas fa-times fa-xs"></i>
      </a>
    </div>

  </div>  {% endcomment %}



    <div class="row  mt-4   ">

      {% for product in products %}
      <div class="col-lg-2 col-md-4 col-12  effect11"  >

        
        <figure class="snip1396 green hover prod-img" >

          {% if product.image  %}
          <img src="{{ product.image.url }}"  style="width:100%">
      {% else %}
          <img src="assets/empty.png" style="width:100%">
      {% endif %}     
   

          <figcaption  class="bg-muted">
            <a href="/product/{{product.id}}" style="text-decoration:none;z-index: 3;"> 
            <h5 class="{{product.color}}">
              {{ product.name }}
            
            </h5></a>
          </figcaption>
          <div class="price {{product.color}}" >
            {% comment %} <s>$24.00</s> {% endcomment %}
            {{ product.price }} $
          </div>
          {% csrf_token %}
          {% if product.stock > 0 %}
            <button  class="add-to-cart btn btn-sm btn-login" id="btn_{{product.id}}"  data-product-id="{{ product.id }}" >
              Add to Cart
            </button>
          {% else %}
              <button  class="add-to-cart btn btn-sm  btn-disabled" id="btn_{{product.id}}"   data-product-id="{{ product.id }}" disabled >
                out of stock
              </button>
          {% endif %}
        </figure>
      </div>
      {% endfor %}
    </div>
  





</div> 





<script src="/assets/js/menu-filter.js" ></script>


 </div> 


<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">



<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>




<script>
  $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
          loop: true, // Enable looping
          margin: 10, // Space between items
          responsiveClass: true,
          //nav: true, 
          //autoplay: true,
          //autoplayTimeout: 5000,
          smartSpeed: 450,
          responsive:{
              0:{
                  items: 1, // Number of items to display at 0-576px screen width
              },
              576:{
                  items: 2, // Number of items to display at 576px-768px screen width
              },
              768:{
                  items: 5, // Number of items to display at 768px-992px screen width
              },
              992:{
                  items: 5, // Number of items to display at 992px and above screen width
              }
          }
      });
  });
</script>


{% endblock %}
