{% extends 'layout.html' %}



{% block title %} Products {% endblock %}




{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link active" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}

{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link active" href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block main %} 
<div class="container-main">
<h2 class="title-sell">All Products</h2>


<div class="row">
    <div class="col-lg-12">
       <div class="special-menu text-center">
          <div class="button-group filter-button-group">
             <button class="active btn-cat" data-filter="*">All</button>
             {% for cat in categories %}
                    <button data-filter=".{{cat.name}}" class="btn-cat">{{ cat.name}}</button>
             {% endfor %}
          
</div></div></div></div>





<div class="row  mb-4 special-list">
  {% for product in products %}
  <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-3 special-grid {{ product.category.name }}   ">
    <figure class="snip1396 green hover prod-img">
      {% if product.stock > 0 %}
      <img src="{{ product.image.url }}"  style="width:100%">
  {% else %}
      <img src="/assets/out_stock.jpg" >
  {% endif %}    
      <figcaption>
        <h3>  {{ product.name }}</h3>
        <p>{{product.description}}</p>
      </figcaption>
      <div class="price">
        {% comment %} <s>$24.00</s> {% endcomment %}
        {{ product.price }} $
      </div>
      {% csrf_token %}
      {% if product.stock > 0 %}
      <button  class="add-to-cart btn btn-sm btn-login"  data-product-id="{{ product.id }}" >
        Add to Cart
      </button>
      
      {% else %}
        <button  class="add-to-cart btn btn-sm  btn-disabled"  data-product-id="{{ product.id }}" disabled >
          out of stock
        </button>
      {% endif %}
    </figure>
  </div>
  {% endfor %}
</div>
<script src="/assets/js/menu-filter.js" ></script>


</div>
{% endblock %}
