{% extends 'layout.html' %}



{% block title %} Search {% endblock %}




{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link " href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}

{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link " href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block main %} 
<div class="container-main">
<h2 class="title-sell">Searched Products</h2>




  {% if products|length > 0 %}





    <div class="row  mt-4   ">

      {% for product in products %}
      <div class="col-lg-3 col-md-4 col-12 form-group" >
        <div class="card" style="box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);">
  
          {% if product.image  %}
              <img src="{{ product.image.url }}"   class="card-img-top" style="height:18rem" alt="prod_{{product.name}}" >
          {% else %}
              <img src="assets/empty.png"  class="card-img-top" alt="empty" >
          {% endif %}  
  
              <div class="product-detail">
                  <h4 class="card-title heading  {{product.color}}">
                    {{ product.name|slice:":15" }}{% if product.name|length > 15 %}...{% endif %}
                  </h4>
                  <h5 class="subheading green">
                    {% if product.old_price %}
                    <s style="opacity: 0.6;">{{settings.currency}}{{ product.old_price }}</s>
                    {% endif %}
                    {{settings.currency}}{{ product.price }}
  
                  </h5>
                  {% comment %} <blockquote>
                <p>'Little Bit Of Description About The Product Like Size Color And Care.'</p>
                  </blockquote> {% endcomment %}
                  <p></p>
                  {% comment %} <button type="button" class="btn btn-outline-dark"></button>   {% endcomment %}
                  
                  {% csrf_token %}
                  {% if product.stock > 0 %}
                    <button  class=" btn btn-sm btn-login add_to_cart" id="btn_{{product.id}}"  data-product-id="{{ product.id }}" >
                      Add <i class="fas fa-cart-plus"></i>
                    </button>
                  {% else %}
                      <button  class=" btn btn-sm  btn-disabled" id="btn_{{product.id}}"   data-product-id="{{ product.id }}" disabled >
                        out of stock
                      </button>
                  {% endif %}
  
                  <a href="/product/{{product.id}}"  class="btn btn-sm btn-outline"> 
                    View <i class="fa fa-eye" aria-hidden="true"></i>
                  </a>
  
                </div>
          </div>
        </div>
      {% endfor %}
    </div>
  

  </div>
  {% else %}
  <div class="text-center mb-4">
    <img src="/assets/no_found.jpg" class="w-25 h-25" alt="no results"/>
    <br>
    <h2>Sorry! No matching search result :(</h2>
    <p></p>
    <a class="btn btn-outline mb-2" href="{% url 'home:products' %}">Our Products</a>

</div>
  {% endif %}



</div>

</div>



{% endblock %}
