{% extends 'layout.html' %}



{% block title %} Search {% endblock %}




{% block links %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link " href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}

{% block links1 %} 
<li class="nav-item ">
  <a class="nav-link " href="{% url 'home:home' %}">Home <span class="sr-only">(current)</span></a>
  </li>

  <li class="nav-item">
  <a class="nav-link " href="{% url 'home:products' %}">Products</a>
  </li>
  {% comment %} <li class="nav-item">
  <a class="nav-link" href="/shop/customize">customize</a>
  </li>
{% endcomment %}
  <li class="nav-item">
  <a class="nav-link" href="{% url 'home:contactUs' %}">Contact Us</a>
  </li>
  
{% endblock %}


{% block main %} 
<div class="container-main">
<h2 class="title-sell">Searched Products</h2>










  {% if products|length > 0 %}
  <div class="owl-carousel owl-theme">
    {% for product in products %}
    <div class="item">
      <figure class="snip1396 green hover prod-img">
        {% if product.image.url  %}
        <img src="{{ product.image.url }}"  style="width:100%">
    {% else %}
        <img src="/assets/empty.png" >
    {% endif %}   
        <figcaption>
          {% comment %} <p> </p> {% endcomment %}
          <h3>  {{ product.name }}</h3>
        </figcaption>
        <div class="price">
          {% comment %} <s>$24.00</s> {% endcomment %}
          {{ product.price }}{{currency}}
        </div>
        {% csrf_token %}
        {% if product.stock > 0 %}
        <button  class="add-to-cart btn btn-sm btn-login" id="btn_{{product.id}}"  data-product-id="{{ product.id }}" >
          Add to Cart
        </button>
        
        {% else %}
          <button  class="add-to-cart btn btn-sm  btn-disabled" id="btn_{{product.id}}"  data-product-id="{{ product.id }}" disabled >
            Out of Stock
          </button>
        {% endif %}
      </figure>
    </div>
    {% endfor %}
  
  </div>
  {% else %}
  <div class="text-center mb-4">
    <img src="/assets/no_found.jpg" class="w-25 h-25  "/>
    <br>
    <h2>Sorry! No matching search result :(</h2>
    <p></p>
    <a class="btn btn-outline mb-2" href="{% url 'home:products' %}">Our Products</a>

</div>
  {% endif %}



</div>

</div>

<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">



<!-- Owl Carousel JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


<script>
  $(document).ready(function(){
      $(".owl-carousel").owlCarousel({
          loop: true, // Enable looping
          margin: 10, // Space between items
          responsiveClass: true,
          responsive:{
              0:{
                  items: 1, // Number of items to display at 0-576px screen width
              },
              576:{
                  items: 2, // Number of items to display at 576px-768px screen width
              },
              768:{
                  items: 2, // Number of items to display at 768px-992px screen width
              },
              992:{
                  items: 3, // Number of items to display at 992px and above screen width
              }
          }
      });
  });
</script>

{% endblock %}
