.row1 {
    margin: 15px;
}

.column {
    float: left;
    width: 33.3%;
    padding: 5px;
}


/* Clearfix (clear floats) */

.rowtable::after {
    content: "";
    clear: both;
    display: table;
}

.cat-img {
    height: 10rem;
    width: 100%;
    max-width: 100%;
    border-radius: 50% !important;
    transform: scale(1);
    transition: 0.5s ease all;
}

.img1 {
    height: 15rem;
    width: 100%;
    transform: scale(1);
    max-width: 100%;
    transition: 0.5s ease all;
}

.effect11:hover .img1 {
    transform: scale(0.9);
}

.effect11:hover .cat-img {
    transform: scale(0.9);
}

@media screen and (max-width: 650px) {
    .img1 {
        height: 6rem;
    }
    .cat-img {
        height: 6rem;
    }
}