<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally
                        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                    }
                }
            });


            $('.add-to-cart').click(function(e) {
                e.preventDefault();
                var product_id = $(this).data('product-id');
                $.ajax({
                    type: 'POST',
                    url: '/cart/add_to_cart/' + product_id + '/',
                    data: {},
                    success: function(data) {
                        $('#cart_count').text(data);

                    }
                });
            });
        });
    </script>
</head>
<body>

<div>
    cart items: <span id="cart_count"> {{cart_count}}</span>

</div>

    <h1>Product Details</h1>
    <h2>{{ product.title }}</h2>
    <p>Description: {{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    {% csrf_token %}
    <button class="add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
    
    <a href="{% url 'cart:cart_list' %}">View Cart</a>
</body>
</html>
