<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally
                        xhr.setRequestHeader("X-CSRFToken", $('input[name="csrfmiddlewaretoken"]').val());
                    }
                }
            });


            $('.add-to-cart').click(function(e) {
                e.preventDefault();
                var product_id = $(this).data('product-id');
                $.ajax({
                    type: 'POST',
                    url: '/cart/add_to_cart/' + product_id + '/',
                    data: {},
                    success: function(data) {
                        $('#cart_count').text(data);

                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Product List</h1>
    

    {% comment %} {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <!-- Other logged-in user content -->
{% else %}
    <p>Please log in to view your cart.</p>
  
{% endif %} {% endcomment %}

<div>
    cart items: <span id="cart_count"> {{cart_count}}</span>

</div>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.name }}</h2>
                <p>Description: {{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <p>Category: {{ product.category.name }}</p>
                <br>

                {% if product.image %}
                    <img src="{{ product.image.url }}" style="width:5rem" alt="{{ product.name }} Image">
                {% endif %}



                
                <br>
                {% csrf_token %}
                <button class="add-to-cart" data-product-id="{{ product.id }}">Add to Cart</button>
                <a href="{% url 'cart:product_details' product_id=product.id %}">View Details</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
